<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ .Site.Title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{{ .Site.BaseURL }}favicon.ico">

		{{ if .Site.IsServer }}
		{{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" true) }}
		<link rel="stylesheet" href="{{ ($style).RelPermalink }}">
		{{ else }}
		{{ $style := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "style.scss" . | toCSS (dict "targetPath" "css/style.css" "enableSourceMap" false) }}
		<link rel="stylesheet" href="{{ ($style | minify).RelPermalink }}">
	  {{ end }}

  {{ block "meta_tags" . }}
    {{ if .Params.description }}<meta name="description" content="{{ .Params.description }}"/>{{ end }}
    <meta property="og:title" content="{{ .Title }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ .Permalink }}"/>
    {{ if .Params.image }}<meta property="og:image" content="{{ .Params.image | absURL }}"/>{{ end }}
    {{ if .Params.description }}<meta property="og:description" content="{{ .Params.description }}"/>{{ end }}
  {{ end }}

<!-- Matomo -->
<script>
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setCookieDomain", "*.antiiheld.de"]);
  _paq.push(["disableCookies"]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//antiiheld.4lima.de/matomo/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="//antiiheld.4lima.de/matomo/matomo.php?idsite=1&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->
  
<!-- Clarity Code -->  
<script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "e5hjngw7ln");
</script>
<!-- End Clarity Code -->
  
</head>

{{ $themeStyle := slice "" }}
{{ if eq .Site.Params.addFrame true }}{{ $themeStyle = $themeStyle | append "frame" }}{{ end }}
<body class='page{{ delimit $themeStyle " " }} {{ block "body_classes" . }}{{ end }}'>
  {{ partial "menu-main-mobile.html" . }}
  <div id="wrapper" class="wrapper">
  
  {{ if eq .Site.Params.fixedStyle false }}
<b>Fehler: "fixedStyle" Parameter steht nicht auf true.</b>
{{ end }}
    {{ partial "header.html" . }}
    {{ block "main" . }}
    {{ end }}
    {{ partial "footer.html" . }}
  </div>

  {{ $scripts := resources.Get "js/scripts.js" }}

  {{ $js := slice $scripts | resources.Concat "js/bundle.js" }}


		{{ if .Site.IsServer }}
		<script type="text/javascript" src="{{ $js.RelPermalink }}"></script>
		{{ else }}
		<script type="text/javascript" src="{{ ($js | minify).RelPermalink }}"></script>
		{{ end }}

  {{ block "footer_js" . }}
  {{ end }}

</body>
</html>
